/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Lato&family=Orbit&display=swap');

:root {
    --main-color: #2A323D;
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.048), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.font-geologica {
    font-family: Geologica;
}

.font-lato {
    font-family: Lato;
}

.font-orbit {
    font-family: Orbit;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}