<div class="container">
   <p class="text-center fw-bold font-lato fs-3 mb-5">Controle de Clientes</p>
   <div class="container text-center mb-5">
      <div class="row row-gap-5 justify-content-center ">
        <div align="center" class="col col-3">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Sócios</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='socio' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
         <div align="center" class="col col-3">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Dependentes</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='dependente' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
    </div>
</div>