<div class="container">
   <p class="text-center fw-bold font-lato fs-3 mb-5">Gerenciar Titulos</p>
</div>

<div *ngIf="titulos.length == 0">
   <div class="bg-opacity-10 bg-danger rounded py-1 mb-5" style="width: 300px; margin: 0 auto">
       <p class="text-center text-danger m-0"><i class="bi bi-info-circle-fill pe-3"></i>Não há titulos cadastradas</p>
   </div>
</div>

<div class="container border rounded mb-5">
   <table class="table table-responsive-lg table-hover">
        <thead>
            <tr>
                <td></td>
                <td class="text-secondary">
                    Nome
                </td>
                <td class="text-secondary">
                    Ano
                </td>
                <td class="text-secondary">
                    Sinopse
                </td>
                <td class="text-secondary">
                    Categoria
                </td>
                <td class="text-secondary">
                    Classe
                </td>
                <td class="text-secondary">
                    Diretor
                </td>
                <td class="text-secondary">
                    Atores
                </td>
                <td align="end">
                    <button type="button" class="btn btn-sm me-1">
                            <i class="pi pi-search text-secondary-emphasis"></i>
                    </button>
                    <button type="button" class="btn btn-sm text-success-emphasis ms-1" (click)="showDialogCreate()">
                            <i class="pi pi-plus"></i>
                    </button>
                </td>
            </tr>
        </thead>
      <tbody>
           <tr *ngFor='let titulo of titulos'>
                <td class="text-secondary">
                    {{ titulo.id }}
                </td>
                <td>
                    {{ titulo.name }}
                </td>
                <td>
                    {{ titulo.ano }}
                </td>
                <td>
                    {{ titulo.sinopse }}
                </td>
                <td>
                    {{ titulo.categoria }}
                </td>
                <td>
                    {{ titulo.classe?.name }}
                </td>
                <td>
                    {{ titulo.diretor?.name }}
                </td>
                <td>
                    <button type="button" class="btn btn-sm me-1" (click)="listarAtores(titulo)">
                        <i class="pi pi-users"></i>
                    </button>
                </td>
               <td align="end"> 
                   <button type="button" class="btn btn-sm btn-outline-secondary me-1" (click)="showDialogEdit(titulo)">
                       <i class="pi pi-pencil"></i>
                   </button>
                   <button type="button" class="btn btn-sm btn-outline-danger ms-1" (click)="confirmDelete(titulo)">
                       <i class="pi pi-trash"></i>
                   </button>
               </td>
           </tr>
       </tbody>
   </table>

    <p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

    <p-dialog header="Cadastrar novo titulo" [modal]="true" [(visible)]="create" [style]="{ width: '50vw', height: '40vw'}" (onHide)="create = false">
        <form class="mt-2 d-flex flex-column gap-2" [formGroup]="tituloForm">
            <input class="p-inputtext-sm" placeholder="Nome do titulo" type="text" class="form-control" formControlName="name">
            <input class="p-inputtext-sm" placeholder="Ano" type="number" class="form-control" formControlName="ano">
            <input class="p-inputtext-sm" placeholder="Sinopse" type="text" class="form-control" formControlName="sinopse">
            <input class="p-inputtext-sm" placeholder="Categoria" type="text" class="form-control" formControlName="categoria">
            <p-multiSelect [style]="{ width: '100%'}" [options]="atores" formControlName="listaAtores" placeholder="Atores" optionLabel="name"></p-multiSelect>
            <p-dropdown [style]="{ width: '100%'}" [options]="classes" [filter]="true" [showClear]="true" formControlName="classe" optionLabel="name" placeholder="Classe"></p-dropdown>
            <p-dropdown [style]="{ width: '100%'}" [options]="diretores" [filter]="true" [showClear]="true" formControlName="diretor" optionLabel="name" placeholder="Diretor"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleCreate()" [disabled]='tituloForm.invalid' label="Cadastrar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Editar titulo" [modal]="true" [(visible)]="edit" [style]="{ width: '50vw', height: '40vw'}" (onHide)="edit = false">
        <i class="bi bi-person-fill-gear fs-5"> {{ titulo.name }} </i>
        <form class="mt-2  d-flex flex-column gap-2" [formGroup]="tituloForm">
            <input class="p-inputtext-sm" placeholder="Nome do titulo" type="text" class="form-control" formControlName="name">
            <input class="p-inputtext-sm" placeholder="Ano" type="number" class="form-control" formControlName="ano">
            <input class="p-inputtext-sm" placeholder="Sinopse" type="text" class="form-control" formControlName="sinopse">
            <input class="p-inputtext-sm" placeholder="Categoria" type="text" class="form-control" formControlName="categoria">
            <p-multiSelect [style]="{ width: '100%'}" [options]="atores" formControlName="listaAtores" placeholder="Atores" optionLabel="name"></p-multiSelect>
            <p-dropdown [style]="{ width: '100%'}" [options]="classes" formControlName="classe" optionLabel="name" placeholder="Classe"></p-dropdown>
            <p-dropdown [style]="{ width: '100%'}" [options]="diretores" formControlName="diretor" optionLabel="name" placeholder="Diretor"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleUpdate()" [disabled]='tituloForm.invalid' label="Editar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Atores de {{ titulo.name }}" [modal]="true" [(visible)]="showAtores" [style]="{ width: '30vw', maxheight: '20vw'}" (onHide)="showAtores = false">
        <div *ngFor='let ator of titulo.listaAtores'>
            <p><i class="pi pi-user me-3"></i>{{ ator.name }}</p>
        </div>
    </p-dialog>
</div>