<p>archive-management works!</p>

<div class="card-body col-lg-10 col-md-10 col-sm-12 mx-auto my-100">
   <div class="d-grid gap-2">
      <a type="button" routerLink='ator' class="btn btn-md btn-outline-primary">Ator</a>
      <a type="button" routerLink='classe' class="btn btn-md btn-outline-primary">Classe</a>
      <a type="button" routerLink='director' class="btn btn-md btn-outline-primary">Diretor</a>
      <a type="button" routerLink='item' class="btn btn-md btn-outline-primary">Item</a>
      <a type="button" routerLink='titulo' class="btn btn-md btn-outline-primary">Titulo</a>
   </div>
</div>