<div class="container">
   <p class="text-center fw-bold font-lato fs-3 mb-5">Controle de Acervo</p>
   <div class="container text-center mb-5">
      <div class="row row-gap-5">
        <div align="center" class="col">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Atores</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='ator' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
         <div align="center" class="col">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Diretores</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='diretor' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
         <div align="center" class="col">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Classes</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='classe' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
         <div align="center" class="col">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Títulos</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='titulo' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
         <div align="center" class="col">
            <div class="card glass-effect" style="width: 14rem">
               <i class="pi pi-spin pi-cog mt-5" style="font-size: 2rem"></i>
               <div class="card-body">
                  <h5 class="card-title">Itens</h5>
                  <p class="card-text mb-5"></p>
                  <a routerLink='item' class="btn">
                     <span>Gerenciar</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
    </div>
</div>