<div class="container">
   <form [formGroup]="classeForm">
      <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Nome</span>
         <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Valor</span>
         <input type="text" class="form-control" formControlName="value">
      </div>
      <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Data</span>
         <input type="text" class="form-control" formControlName="date">
         <button class="btn btn-outline-primary ms-5" (click)="handleSubmit()">Salvar</button>
         <button class="btn btn-secondary" (click)="handleCancel()">Cancelar</button>
      </div>
   </form>
</div>