<div class="container border rounded">
    <table class="table table-responsive-lg table-hover">
        <thead>
                <tr>
                    <td></td>
                    <td class="text-secondary">
                        Nome
                    </td>
                    <td align="end">
                        <button type="button" class="btn btn-sm me-1">
                            <i class="pi pi-search text-secondary"></i>
                        </button>
                        <button type="button" class="btn btn-sm text-success ms-1" (click)="showDialogCreate()">
                            <i class="pi pi-plus"></i>
                        </button>
                    </td>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor='let ator of atores'>
                <td class="text-secondary">
                    {{ ator.id }}
                </td>
                <td>
                    {{ ator.name }}
                </td>
                <td align="end">
                    <button type="button" class="btn btn-sm btn-outline-secondary me-1" (click)="showDialogEdit(ator)">
                        <i class="pi pi-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger ms-1" (click)="confirmDelete(ator)">
                        <i class="pi pi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>

    <p-dialog header="Cadastrar novo ator" [modal]="true" [(visible)]="create" [style]="{ width: '25vw' }" (onHide)="create = false">
        <form class="mt-2" [formGroup]="atorForm">
            <input class="p-inputtext-sm" placeholder="Nome do ator" type="text" class="form-control" formControlName="name">
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleCreate()" [disabled]='atorForm.invalid' label="Cadastrar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Editar ator" [modal]="true" [(visible)]="edit" [style]="{ width: '25vw' }" (onHide)="edit = false">
        <i class="bi bi-person-fill-gear fs-5"> {{ ator.name }} </i>
        <form class="mt-2" [formGroup]="atorForm">
            <input class="p-inputtext-sm" placeholder="Novo nome do ator" type="text" class="form-control" formControlName="name">
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleUpdate()" [disabled]='atorForm.invalid' label="Editar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>