<div style="height: 85vh;" class="container-xxl d-flex align-items-center">
   <div class="card col-lg-5 col-md-10 col-sm-12 mx-auto border bg-secondary-subtle rounded rounded-top-5">
       <div>
           <div style="max-width: 900px;" class="mx-auto">
               <div style="position: relative; height: 100px" class="d-flex mx-auto align-items-center justify-content-center rounded-top-5 bac-moon">
                   <div style="margin: 0; position: absolute;" class="bi bi-box fs-4">
                       <span class="font-orbit fs-5 ps-2 fw-bold">PASSATEMPO</span>
                   </div>
               </div>
           </div>
       </div>
       <div class="card-body col-lg-10 col-md-10 col-sm-12 mx-auto my-100">
           <div class="d-grid gap-2">
               <a type="button" href="/ator" class="btn btn-md btn-outline-primary">Gerenciamento de Atores</a>
               <a type="button" href="/classe" class="btn btn-md btn-outline-danger">Gerenciamento de Classes</a>
               <a type="button" href="" class="btn btn-md btn-outline-success disabled">Gerenciamento de Diretores</a>
           </div>
       </div>
       <div class="card-footer text-center">
           <p>____________________</p>
       </div>
   </div>
</div>