<div class="container">
   <p class="text-center fw-bold font-lato fs-3 mb-5">Gerenciar Dependentes</p>
</div>

<div *ngIf="dependentes.length == 0">
   <div class="bg-opacity-10 bg-danger rounded py-1 mb-5" style="width: 300px; margin: 0 auto">
       <p class="text-center text-danger m-0"><i class="bi bi-info-circle-fill pe-3"></i>Não há dependentes cadastradas</p>
   </div>
</div>

<div class="container border rounded mb-5">
   <table class="table table-responsive-lg table-hover">
        <thead>
            <tr>
                <td></td>
                <td class="text-secondary">
                    Nome
                </td>
                <td class="text-secondary">
                    Data de Nascimento
                </td>
                <td class="text-secondary">
                    Sexo
                </td>
                <td class="text-secondary">
                    Sócio
                </td>
                <td align="end">
                    <button type="button" class="btn btn-sm me-1">
                            <i class="pi pi-search text-secondary-emphasis"></i>
                    </button>
                    <button type="button" class="btn btn-sm text-success-emphasis ms-1" (click)="showDialogCreate()">
                            <i class="pi pi-plus"></i>
                    </button>
                </td>
            </tr>
        </thead>
      <tbody>
           <tr *ngFor='let dependente of dependentes'>
                <td [ngClass]="{'bg-danger bg-opacity-25': !dependente.ativo}" class="text-secondary">
                    {{ dependente.id }}
                </td>
                <td>
                    {{ dependente.name }}
                </td>
                <td>
                    {{ dependente.dt_nascimento }}
                </td>
                <td>
                    {{ dependente.sexo }}
                </td>
                <td>
                    {{ dependente.socio?.name }} <span class="text-secondary">(#{{ dependente.socio?.id }})</span>
                </td>
               <td align="end"> 
                   <button type="button" class="btn btn-sm btn-outline-secondary me-1" (click)="showDialogEdit(dependente)">
                       <i class="pi pi-pencil"></i>
                   </button>
                   <button type="button" class="btn btn-sm btn-outline-danger ms-1" (click)="confirmDelete(dependente)">
                       <i class="pi pi-trash"></i>
                   </button>
               </td>
           </tr>
       </tbody>
   </table>

    <p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

    <p-dialog header="Cadastrar novo dependente" [modal]="true" [(visible)]="create" [style]="{ width: '50vw', height: '40vw'}" (onHide)="create = false">
        <form class="mt-2 d-flex flex-column gap-2" [formGroup]="dependenteForm">
            <input class="p-inputtext-sm" placeholder="Nome do dependente" type="text" class="form-control" formControlName="name">
            <input class="p-inputtext-sm" placeholder="Data de nascimento" type="text" class="form-control" formControlName="dt_nascimento">
            <input class="p-inputtext-sm" placeholder="Sexo" type="text" class="form-control" formControlName="sexo">
            <p-dropdown [style]="{ width: '100%'}" [options]="socios" [filter]="true" [showClear]="true" formControlName="socio" optionLabel="name" placeholder="Sócio"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleCreate()" [disabled]='dependenteForm.invalid' label="Cadastrar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Editar dependente" [modal]="true" [(visible)]="edit" [style]="{ width: '50vw', height: '40vw'}" (onHide)="edit = false">
        <i class="bi bi-person-fill-gear fs-5"> {{ dependente.name }} </i>
        <form class="mt-2  d-flex flex-column gap-2" [formGroup]="dependenteForm">
            <input class="p-inputtext-sm" placeholder="Nome do dependente" type="text" class="form-control" formControlName="name">
            <input class="p-inputtext-sm" placeholder="Data de nascimento" type="text" class="form-control" formControlName="dt_nascimento">
            <input class="p-inputtext-sm" placeholder="Sexo" type="text" class="form-control" formControlName="sexo">
            <p-dropdown [style]="{ width: '100%'}" [options]="socios" [filter]="true" formControlName="socio" optionLabel="name" placeholder="Sócio"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleUpdate()" [disabled]='dependenteForm.invalid' label="Editar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>