<div class="container">
   <p class="text-center fw-bold font-lato fs-3 mb-5">Efetuar Locação</p>
</div>

<div *ngIf="locacoes.length == 0">
   <div class="bg-opacity-10 bg-danger rounded py-1 mb-5" style="width: 300px; margin: 0 auto">
       <p class="text-center text-danger m-0"><i class="bi bi-info-circle-fill pe-3"></i>Não há locações efetuadas</p>
   </div>
</div>

<div class="container border rounded mb-5">
   <table class="table table-responsive-lg table-hover">
        <thead>
            <tr>
                <td></td>
                <td class="text-secondary">
                    Data de Locação
                </td>
                <td class="text-secondary">
                    Data de Devolução Prevista
                </td>
                <td class="text-secondary">
                    Data de Devolução Efetuada
                </td>
                <td class="text-secondary">
                    Valor Total
                </td>
                <td class="text-secondary">
                    Multa
                </td>
                <td class="text-secondary">
                    Item
                </td>
                <td class="text-secondary">
                    Cliente
                </td>
                <td align="end">
                    <button type="button" class="btn btn-sm me-1">
                            <i class="pi pi-search text-secondary-emphasis"></i>
                    </button>
                    <button type="button" class="btn btn-sm text-success-emphasis ms-1" (click)="showDialogCreate()">
                            <i class="pi pi-plus"></i>
                    </button>
                </td>
            </tr>
        </thead>
      <tbody>
           <tr *ngFor='let locacao of locacoes'>
                <td [ngClass]="[locacao.dtDevolucaoEfetiva == null ? 'bg-warning bg-opacity-25' : 'bg-success bg-opacity-25']"
                    class="text-secondary">
                    {{ locacao.id }}
                </td>
                <td>
                    {{ locacao.dt_locacao }}
                </td>
                <td>
                    {{ locacao.dt_devolucaoPrevista }}
                </td>
                <td>
                    <div *ngIf="locacao.dtDevolucaoEfetiva != null; else alocado" class="text-success-emphasis">{{ locacao.dtDevolucaoEfetiva }}</div>
                    <ng-template #alocado><i class="bi bi-clock-history text-warning"></i></ng-template>
                </td>
                <td>
                    R$ {{ locacao.valor }}
                </td>
                <td>
                    R$ {{ locacao.multa}}
                </td>
                <td>
                    {{ locacao.item?.num_serie }} <span class="text-secondary">(#{{ locacao.item?.titulo?.name }})</span>
                </td>
                <td>
                    {{ locacao.cliente?.name }} <span class="text-secondary">(#{{ locacao.cliente?.id }})</span>
                </td>
                <td align="end">
                    <div *ngIf="locacao.dtDevolucaoEfetiva == null">
                        <button type="button" 
                            class="btn btn-sm btn-outline-success me-2" (click)="confirmDevolucao(locacao)">
                            <i class="pi pi-check"></i>
                        </button>
                        <button type="button"
                        class="btn btn-sm btn-outline-secondary me-2" (click)="showDialogEdit(locacao)">
                            <i class="pi pi-pencil"></i>
                        </button>
                        <button type="button"
                        class="btn btn-sm btn-outline-danger" (click)="confirmDelete(locacao)">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                    <div *ngIf="locacao.dtDevolucaoEfetiva != null">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </div>
                </td>
           </tr>
       </tbody>
   </table>

    <p-confirmDialog [style]="{width: '30vw'}"></p-confirmDialog>

    <p-dialog header="Efetuar locação" [modal]="true" [(visible)]="create" [style]="{ width: '50vw', height: '40vw'}" (onHide)="create = false">
        <form class="mt-2 d-flex flex-column gap-2" [formGroup]="locacaoForm">
            <p-dropdown [style]="{ width: '100%'}" [options]="clientes" [filter]="true" [showClear]="true" formControlName="cliente" optionLabel="name" placeholder="Cliente"></p-dropdown>
            <p-dropdown [style]="{ width: '100%'}" [options]="itens" [filter]="true" [showClear]="true" formControlName="item" optionLabel="num_serie" placeholder="Item"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleCreate()" [disabled]='locacaoForm.invalid' label="Cadastrar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>

    <p-dialog header="Editar locação" [modal]="true" [(visible)]="edit" [style]="{ width: '50vw', height: '40vw'}" (onHide)="edit = false">
        <i class="bi bi-archive fs-5"> Locação n° {{ locacao.id }} </i>
        <form class="mt-2 d-flex flex-column gap-2" [formGroup]="locacaoForm">
            <p-divider></p-divider>
            <span [style]="{ width: '50%'}" class="p-float-label">
                <input pInputText id="locacao-label" [disabled]="true" class="form-control" [value]="locacao.dt_locacao">
                <label htmlFor="locacao-label">Data de Locação</label>
            </span>
            <p-calendar [style]="{ width: '50%'}" placeholder="Data de Devolução Prevista" formControlName="dt_devolucaoPrevista"></p-calendar>
            <span [style]="{ width: '50%'}" class="p-float-label">
                <input pInputText id="valor-label" class="form-control" formControlName="valor">
                <label htmlFor="valor-label">Valor</label>
            </span>
            <p-dropdown [style]="{ width: '100%'}" [options]="clientes" [filter]="true" [showClear]="true" formControlName="cliente" optionLabel="name" placeholder="Cliente"></p-dropdown>
            <p-dropdown [style]="{ width: '100%'}" [options]="itens" [filter]="true" [showClear]="true" formControlName="item" optionLabel="num_serie" placeholder="Item"></p-dropdown>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="handleUpdate()" [disabled]='locacaoForm.invalid' label="Editar" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>